<ion-view title="DB Consultorias" id="page2">
  <ion-content padding="true" style="background: url(img/Ifsb47aQrPsjmHxhIwcg_bg3.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div>
      <img src="img/c3fUH5w6TLustMuez96q_logoDB_oficial.png" width="60%" height="20%" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 67px;"></div>
    <form id="dBConsultorias-form1" class="list" ng-controller="dBConsultoriasCtrl" ng-submit='login()'>
      <ion-list id="dBConsultorias-list1">
        <label class="item item-input" id="dBConsultorias-input1" name="username">
                    <input name='username' ng-model="username" type="text" placeholder="Usuário">
                </label>
        <label class="item item-input" id="dBConsultorias-input2" name="senha">
                    <input name='password' ng-model="password" type="password" placeholder="Senha">
                </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <input type="submit" id="submit" value="Entrar" style="border-radius:10px 10px 10px 10px;" class="button button-calm  button-block"/>
      <!--<a ui-sref="agendamentosConsultor" id="dBConsultorias-button1" style="border-radius:10px 10px 10px 10px;" class="button button-calm  button-block">Entrar</a>-->
    </form>
  </ion-content>
</ion-view>
