<ion-view title="Informações Agendamento" id="infoConsultor">
  <ion-content padding="true" class="has-header">

    <div class="details-scheduling">
      <div class="div-title">
        <div class="row">
          <h1 class="title col col-67">{{req.client}}</h1>
          <div class="col col"><i class="icon ion-ios-checkmark status-{{req.status}}">{{req.status.toUpperCase()}}</div></i>
          </div>
        </div>

        <table class="table-details-scheduling" width="100%" height="100%">
          <tr>
            <td class="title-details-table"><i class="icon ion-android-calendar"></td>
         <td class="title-details-table">Início</td>
         <td class="info-details-table">{{req.initDate}}</td>
       </tr>

       <tr>
         <td class="title-details-table"><i class="icon ion-android-calendar"></td>
         <td class="title-details-table">Fim</td>
         <td class="info-details-table">{{req.endDate}}</td>
       </tr>

          <tr>
            <td class="title-details-table"><i class="icon ion-android-contact"></td>
            <td class="title-details-table">Contato</td>
            <td class="info-details-table">{{req.user}}</td>
          </tr>

          <tr>
              <td class="title-details-table"><i class="icon ion-ios-paper-outline"></td>
              <td class="title-details-table">Assunto</td>
              <td class="info-details-table">{{req.service}}</td>
            </tr>

            <tr>
                <td class="title-details-table">  <i class="icon ion-wrench"></i></td>
            <td class="title-details-table">Serviço</td>
            <td class="info-details-table">{{req.subject}}</td>
          </tr>

          <tr>
            <td class="title-details-table"><i class="icon ion-ios-contact"></td>
            <td class="title-details-table">Cosultor</td>
            <td class="info-details-table">{{req.consultant}}</td>
          </tr>

        <tr>
          <td class="title-details-table"> <i class="icon  ion-map"></i></td>
            <td class="title-details-table">Local</td>
            <td class="info-details-table">{{req.address}}</td>
          </tr>

        </table>
      </div>


  </ion-content>
</ion-view>
