.date-scheduling{
  background-color:#81C784;
  height: 75px;
  width: 23%;
  text-align: center;
  float: left;
  color: white;
}

.Aprovado-card{
  border-left: solid #81C784 5px;
}

.status-Aprovado{
  float: right;
  color: #81C784;
  font-size: 11px !important;
  font-weight: bold;
}

.ion-ios-checkmark:before {
    margin-right: 5px !important;
}

.Cancelado-card{
  border-left: solid #E57373 5px;
}

.status-Cancelado{
  float: right;
  color: #E57373;
  font-size: 11px !important;
  font-weight: bold;
}

.ion-close-circled:before {
    margin-right: 5px !important;
}

.Pendente-card{
  border-left: solid #90a4ae 5px;
}

.status-Pendente{
  float: right;
  color: #90a4ae;
  font-size: 11px !important;
  font-weight: bold;
}

.ion-information-circled:before {
    margin-right: 5px !important;
}

.card-first-info{
  color: #444;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0px !important;
}

.card-second-info{
  color: #979797;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.calendar-hour{
  margin-top: 5px;
  font-size: 17pt;
  text-align: center;
}

.calendar-date{
  font-size: 10pt;
  text-align: center;
}

.content-scheduling{
  width: 77%;
  height: 100%;
  float: right;
}

.table-card{
margin-left:5%;
}

.title-table{
  color:grey;
  font-size: 12pt;
}

.info-table{
  color:black;
  font-size: 12pt;
}

.title-details-scheduling{
  width: 100%;
  height: 25%;
  background-color:#1E317A;
}

.title-details-table{
  color:#1E317A;
  font-size: 14pt;
}

.details-scheduling{
  margin-top: 0%;
}

.info-details-table{
  color:black;
  font-size: 13pt;
}

.table-details-scheduling td{
  padding: 8px;
  margin: 25px;
}

.div-title .title {
  margin-bottom: 0px;
  color:#444;
  text-align:left;
  font-size: 15pt;
  top:10%;
}


.div-title{
  border-bottom: 2px double #666;
  margin-bottom: 15px;
}

.icon{
  font-size: 25px;
}
